NEXT_PUBLIC_SITE_URL=https://goldenheights.com.bd
NEXT_PUBLIC_SITE_NAME="Golden Heights Properties"
NEXT_PUBLIC_PHONE=+8801711000000
NEXT_PUBLIC_WHATSAPP=8801711000000
NEXT_PUBLIC_EMAIL=info@goldenheights.com.bd
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GMAPS_KEY=
